body {
  height: 100%;
}

.background-image {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  position: relative;
  background: url(assets/monkey2.jpg) center/cover no-repeat; /* Center centruje zdjecie / cover zmienia rozmiar obrazu aby pokryć całą sekcje */
}

.circle-opacity {
  width: 50%;
  height: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  position: absolute;
}

.text-style {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-style: initial;
  color: grey;
}
